/* Kayla Noakes
    Online Profile
    July 31 2020
    style.css  */



    :root{
    --light: #D7DEDC;
    --primary: #5B85AA;
    --accent: #CD5334;
    --dark: #2E2836;

    }

body {
  background-image: url(background.jpg);
  text-align: center;
  background-repeat: round;
  font-family: 'Quicksand', sans-serif;
}
h1, h5 {
  font-weight: bolder;
  text-shadow: 2px 2px var(--dark);
  color: var(--primary);
}
h1 {
  font-size: 5em;
}
h5 {
  font-size: 3em;
}
p {
  color: var(--dark);
}
.navbar {
  list-style:none;

}

.navbar a{
  color: var(--accent);
  display: grid;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.navbar a:hover {
  background-color: var(--primary);
}

.card-body {
  text-align: left;
}

.card-img {
  border-radius: 10px;
  border: dotted 5px var(--primary);
}

.one {
  background-color: var(--dark);
  color: var(--light);
}
.two{
  background-color: var(--primary);
  color: var(--light);
}

.list-group {
  padding: 10px;
  border-radius: 5px;
}

.card-header {
  background-color: var(--accent);
  color: var(--light);
}

.container {
  background-color: var(--light)
}

form {
  border: 10px black;
}
